files:
  "/etc/awslogs/config/applog.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/www/html/runtime/logs/app.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app.log"]]}`
      log_stream_name={instance_id}
      file=/var/www/html/runtime/logs/app.log*
