container_commands:
  01_run_migration:
    command: "cd ./src/ && php ./yii migrate --interactive=0"
    leader_only: true
  02-flush-schema-cache:
    command: "cd ./src/ && php ./yii cache/flush-schema --interactive=0"
  03-mkdir:
    command: "mkdir -p ./runtime/logs ./runtime/cache"
  04-change-dir-permission:
    command: "chmod -R 777 ./runtime"
